<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
	<bean id="hivemindRegistryFromClasspath" class="org.springmodules.hivemind.RegistryFactoryBean">
		<property name="configLocations">
			<value>/org/springmodules/hivemind/configuration.xml</value>
		</property>
	</bean>

	<bean id="hivemindRegistryFromClasspathUrl" class="org.springmodules.hivemind.RegistryFactoryBean">
		<property name="configLocations">
			<value>classpath:/org/springmodules/hivemind/configuration.xml</value>
		</property>
	</bean>

	<bean id="hivemindRegistryFromFileUrl" class="org.springmodules.hivemind.RegistryFactoryBean">
		<property name="configLocations">
			<value>file:/c:/applications/springmodules/xml/configuration.xml</value>
		</property>
	</bean>

</beans>